.content.clearfix
  .content-left.our-properties-detail
    .property-detail
      .carousel
        .carousel-images
          %img{src: "/images/properties/seeley01.jpg"}
        %img#prev-slide{src: '/images/slider_left.png', alt: 'Previous Slide'}
        %img#next-slide{src: '/images/slider_right.png', alt: 'Next Slide'}
        .carousel-title
          %span.title.yellow= data.projects.projects.seeley.title
  
  
      %p
        %span.title.black
          Historical Landmark Meets Urban Chic
      %p.body
        = data.projects.projects.seeley.description
      
      %p
        %span.title.black
          Amenities.
      %ul
        - data.projects.projects.seeley.amenities.each do |item|
          %li
            = item

      %p
        %span.title.black
          Incentives.
      %ul
        - data.projects.projects.seeley.incentives.each do |item|
          %li
            = item
    
  = partial "shared/projects"
  
  .bottom.clearfix
    .bottom-schedule-a-viewing
      SCHEDULE A VIEWING
    .bottom-property-map
      PUT GOOGLE MAP HERE
    .bottom-social-buttons
      %a{href: '#'}
        .button.facebook
          Meet our Community
      %a{href: '#'}
        .button.twitter
          Tweet Love from @SeeleyStudios
      %a{href: '#'}
        .button.yelp
          Check out Seeley on Yelp
      
      
      
  