.projects-list

  %span.title.black Your Next Canvas.

  %ul
    - data.projects.projects.each do |p|
      %li.project{:class => "project-#{p}"}
        .project-background
          %img{src: "/images/properties_#{p.first}_sm.png", alt: "property image"}
        .project-foreground
          %img.ribbon-end{src: "/images/ribbon_#{p.last[:theme]}_sm.png"}
          .ribbon{:class => "#{p.last[:theme]}"}
            %span.f15= p.last[:title]
    