.content.clearfix
  .content-left.our-properties
  
    %span.title.black
      Our Properties
    
    .properties-list
      %ul
        - data.projects.projects.each do |p|
          %li.project{:class => "project-#{p}"}
            %a{href: '/properties/seeley-studios.html'}
              .project-background
                %img{src: "/images/properties_#{p.first}.png", alt: "property image"}
              .project-foreground
                %img.ribbon-end{src: "/images/ribbon_#{p.last[:theme]}.png"}
                .ribbon{:class => "#{p.last[:theme]}"}
                  %span= p.last[:title]
