.content.clearfix
  .content-left.press-room
  
    %span.title.black
      Press Room
    
    .press-list
      %ul
        - data.press.pressitems.each do |p|
          %li.pressitem
            .pressitem-date
              %p.pressitem-date-day= p.day
              %p.pressitem-date-month= p.month
            %p.pressitem-title
              = p.title
            .pressitem-line
            %p.pressitem-body
              %span.pressitem-location= p.location
              = p.description
              %a.link-blue{href: "#{p.link}"}
                \- Read Full Press Release